/*Get in touch page ans Useful Links Page*/

/*Get in touch*/

.sa__contactwrapper{
    position: relative;
}

.sa__touch {
    padding: 40px 0px 16px;
    font-family:var(--font3);
    color: var(--wine);
   
    text-align:center;
}
@media(min-width:992px){
    .sa__touch{
        padding: 75px 0px 68px;
        
        line-height: 60px;
    }
 
}
.sa__directions-wrapper,.sa__contactdetails-wrap{
    display: flex;


}
.sa__addresswrapper , .sa__contactdetails-wrap{
    margin: 0 auto;
    padding:0px 20px;
    display: none;
}
.sa__directions-wrapper{
    padding-top: 0;
    padding-left:2%;
    border-bottom: 1px solid #C0C0C0;
}

@media(min-width:768px){
    .sa__directions-wrapper,.sa__contactdetails-wrap{

        padding-bottom: 38px;
    }
}
@media(min-width:992px){
    .sa__addresswrapper , .sa__contactdetails-wrap{
        max-width: 1400px;
        padding: 0 5%;
        display: flex;
        margin: 0 auto;
    }

    .sa__contactdetails-wrap{
        padding-top:48px;
        padding-bottom:70px;
        padding-left:6.4%;
    }
}


.card__location address{
    max-width: 400px;
}
@media(min-width:992px){
    .card__location address{
        max-width: unset;
        padding-right:20%;
    }
}

.sa__directions-wrapper .card:last-child{
    border-bottom: none;
}
.card:last-child{
    padding-right:0 !important;
}
@media(min-width:992px){
    .sa__directions-wrapper .card,.sa__contactdetails-wrap .card{
        padding:0;
        width:36%;
        padding-right:20px;
    }
}

.sa__directions-wrapper .card .card__location {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
@media(min-width:992px){
    .card:last-child .card__location address{
        padding-right:8%;
    }
    .sa__directions-wrapper .card:first-child,.sa__contactdetails-wrap .card:first-child{
        width: 39%;
    }
    .sa__directions-wrapper .card:last-child,.sa__contactdetails-wrap .card:last-child{
        width: 25%;
    }

}


.sa__directions-place{
    font-family: var(--font2);
    color: var(--blk1);
    letter-spacing: 0px;
    margin-bottom: 0 !important;
    margin-top: 6px;
}
@media(min-width:992px){
    .sa__directions-place{
        margin-top:12px;
    }
}

.sa__directions-place img {
    width: 10px;
    height: 10px;
}
@media(min-width:768px){
    .sa__directions-place img {
        width: 8px;
        height: 8px;
    }
}
.sa__directions-pin {
    width: 32px;
    height: 32px;
}
@media(min-width:992px){
    .sa__directions-pin {
        width: 60px;
        height: 60px;
    }
 
}

.sa__directions-place--url {
    color :#74000C ;
    text-decoration: none;
}

.sa__directions-place--url img {
    margin-left: 5px;
}

.sa__directions-address{   
    font-family: var(--font1);
    color: #4B4B4B ; 
    font-style: normal;
}

.sa__contact-main{
    display: flex;

    align-items: center;
 }
 .sa__contact-main img{
    margin-left:14px;
    width:20px;
    height:12px;
 }
 .sa__contact{
    color:#74000D !important;
    font-family: var(--font2) !important;
}


.sa__contact-phone{
    font-family: var(--font1) ;
    font-size: 15px;
    color:  #4B4B4B;
    line-height: 20px;
    letter-spacing: 0px;
    padding-bottom: 12px;
}

.sa__contact-phone img , .sa__contact-email img {
    object-fit: contain;
    height: 32px;
    padding-right: 12px;
}
@media(min-width:768px){

    .sa__contact-phone img , .sa__contact-email img {
       
        height: 26px;

    }

}
@media(min-width:992px){
    .sa__contact-phone img , .sa__contact-email img {
        height:35px;
    }
}

.sa__contact-email{
    font-family: var(--font1) ;
    color:  #4B4B4B;
    line-height: 25px;
    letter-spacing: 0px;
}



/* For mobiles*/
.sa__addresswrapper-mobile{
    display: block;
    max-width: 600px;
}
@media(min-width:992px){
    .sa__addresswrapper-mobile{
        display: none;
    }
}

.sa__addresswrapper-mobile .sa__directions-wrapper{
    flex-direction: column;
   
}
.sa__addresswrapper-mobile .card__location{
    margin-bottom: 10px;
}
.sa__addresswrapper-mobile .sa__contact-number{
    margin-top: 15px;
}
.sa__addresswrapper-mobile .card{
    padding:28px 0 22px 0;
    border-bottom: 1px solid #C0C0C0;
}

/* Useful Links page*/

.sa__links{
    margin-bottom: 30px;
}

.sa__links ul{
    margin-left:30px;
}
.sa__links h4{
    font-size: 20px;
    line-height: 28px;
}

.linkswrapper{
    padding-bottom: 30px !important;
}

@media(min-width:992px){
    .sa__links h4{
        font-size: 24px !important;
        line-height: 32px !important;
    }
    .linkswrapper{
        padding-bottom: 60px !important;
    }
    .sa__links ul{
        margin-left: 40px;
    }
    .linkswrapper h3{
        margin-top: 60px !important;
    }
}
